<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form  action="/cats" method="post">
      <p>Inserta el nombre</p>
      <input type="text" name="nombre" placeholder="nombre"> <br>
      <p>Inserta el raza</p>
      <input type="text" name="raza" placeholder="raza"><br>
      <p>Inserta el color</p>
      <input type="text" name="color" placeholder="color"><br>
      <p>Inserta el edad</p>
      <input type="integer" name="edad"placeholder="edad"><br>

      <button type="submit" name="button"> Guardar</button>

    </form>
  </body>
</html>
